<div  class=" slide">

  <div class="header">
  <div class="header-video">
    <video src="../../assets/fondo.mp4" muted autoplay loop></video>

  </div>
</div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000000">

      <div class="carousel-caption d-none d-md-block contentSlide ">
        <!--         <h1 class="hit-the-floor">Milagros Leon</h1>
 -->
        <!--knsdfdfsndddddddddddddd -->
        <div class="mx-auto d-flex justify-content-center">
          <div id="ui">
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
            <div class="text">MILAGROS LEON</div>
          </div>
        </div>
        <!--knsdfdfsndddddddddddddd -->
        <div class="container">

          <p class="">
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria
            Soy Front End Developer, Egresada de Laboratoria


          </p>


        </div>

        <div class="content">
          <div class="content__container">


            <ul class="content__container__list">
              <li class="content__container__list__item">Angular</li>
              <li class="content__container__list__item">JavaScript</li>
              <li class="content__container__list__item">Typescript</li>
              <li class="content__container__list__item">React</li>
            </ul>
          </div>
        </div>
        <!--knsdfdfsndddddddddddddd -->
        <!--  <p> Front-End developer de Lima-Perú</p> -->
        <!--  <a [routerLink]="['About']" class="btn-about">Sobre mi</a> -->
      </div>
    </div>
    <!--   <div class="carousel-item" data-bs-interval="20000">
      <img src="" class="d-block w-100 heightSlide" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
          <h1>Milagros Leon</h1>
          <p>Front-End developer de Lima-Perú</p>
          <a [routerLink]="['About']" class="btn-about">Sobre mi</a>
      </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/hero-bg.jpg" class="d-block w-100 heightSlide" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div> -->
  </div>
  <!--   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
<!-- <div class="header-video">
  <video src="../../assets/fondo.mp4" muted autoplay loop></video>

</div> -->
