
    <main id="main">

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio pb-4">
          <div class=" portfolioContent" data-aos="fade-up" >

              <div class="section-title ">
                  <h2>Proyectos</h2>
                  <p>Estos Proyectos estan desplegados en github pages, netlify y Heroku  y para el testing se usa Jest y Jasmine</p>
              </div>
            <div class="row d-flex justify-content-center flex-wrap mt-5">

            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                TaklTech
              </div>
              <div class="card-body  m-2">
                <img src="https://i.picasion.com/pic92/f702773263b8235b4f963a4bdcf58539.gif" alt="talktech" width="200" height="350" class="mb-3">


                <p class="card-text">TalkTech es una aplicacion inspirada en Slack, donde manejamos el chat en tiempo real y
                  tambien podemos crear canales o grupos para una comunicacion más interactiva. Las herramientas utilizadas para el
                   desarrollo de este proyecto fue: Framework React, PostgressSql, NodeJs y librerias de npm y socket.io. Proyecto CO</p>
                <a href="#" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
            <!--   <div class="card-footer text-muted">
                Herramientas usadas:
              </div> -->
            </div>
            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                Coffee Queen
              </div>
              <div class="card-body  m-2">
                <img src="../../../../assets/coffee-queen.gif" alt="app-coffee-queen" width="400" height="250" class="mb-3">
                <p class="card-text">Coffee Queen es la aplicación web para una cafetería en el cual puedan tomar pedidos usando una tablet,
              y enviarlos a la cocina para que se preparen ordenados y con eficiencia. Este proyecto consta de dos áreas: interfaz
                    (cliente) y API (servidor). Se nos ha solicitado desarrollar la interfaz que se integre con una API desarrollada
              con NodeJS, Express y Mongo DB. El objetivo principal es aprender a construir una interfaz web usando el
                      framework Angular. Donde la aplicación debe ser un Single Page App y una PWA.</p>
                      <a href="https://coffeequeen.netlify.app/" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
              <!-- <div class="card-footer text-muted">
                Herramientas utilizadas: Framework Angular v13, Bootstrap, Sass. Json Server y Jest
              </div> -->
            </div>
          </div>
          <div class="row d-flex justify-content-center flex-wrap">
            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                Netcoins
              </div>
              <div class="card-body m-2">

                <img src="https://i.picasion.com/pic92/5c0f778a1b50ca77620dac8a3610f551.gif" width="400" height="300" alt="">
                <p class="card-text">Netcoins es una Red social orientado a personas que quieren conocer sobre Criptomonedas
                   este proyecto se realizó en equipo de tres. El objetivo fue crear una Single-page Application (SPA) responsive
                   (con más de una vista / página) en la que podamos leer y escribir datos (Html5 - Css3 - JavaScript Vanila - Firebase).
                    Manejamos la autenticación con Firebase tanto con correo electrónico, gmail, facebook y twitter. Nos organizamos
                    con git hub projects usando milestones e issues.</p>
                <a href="#" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
<!--               <div class="card-footer text-muted">
                Herramientas usadas:
              </div> -->
            </div>
            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                League of Legends
              </div>
              <div class="card-body  my-2">
                <img src="../../../../assets/lol.gif" width="400" height="350" alt="">
                <p class="card-text">Creamos una aplicación sobre el juego LOL consumiendo un JSON donde se lista los campeones
                   y se muestra su información. Se utilizó: Html5, Css3, JAvaScript, Jest y Google Charts (librería para graficas)
                    , como herramientas de trabajo y GitHub Projects para la organización del proyecto.</p>
                <a href="#" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
              <!-- <div class="card-footer text-muted">
                2 days ago
              </div> -->
            </div>
          </div>
          <div class="row d-flex justify-content-center flex-wrap">
            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                Clave'l
              </div>
              <div class="card-body  my-2">
                <img src="https://i.picasion.com/pic92/371636ed5166d9d2e44f3374068f4778.gif" width="400" height="350" alt="">
                <p class="card-text">CLAVE'L es una tienda online de productos de belleza, Esta web se enfocó en la validación
                   de una tarjeta de crédito para realizar el pago electrónico del servicio seleccionado utilizando el algoritmo
                    de Luhn y la implementación de otra funcionalidad permite ocultar todos los dígitos de la tarjeta ingresada
                     menos los últimos cuatro para mayor seguridad. Para esto, se utilizó HTML, CSS , JavaScript y Jest como herramientas.</p>
                <a href="#" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
              <!-- <div class="card-footer text-muted">
                Herramientas usadas:
              </div> -->
            </div>
            <div class="card text-center m-2 col-5 cardPortfolio">
              <div class="card-header">
                MD-links
              </div>
              <div class="card-body  my-2">
                <img src="https://i.picasion.com/pic92/fd8d530a11cdfa76042128813cbc8d07.gif" width="400" height="350" alt="">
                <p class="card-text">MD-Links es una libreria el cual lista los links que se encuentran en los archivos markdown
                   con el código de respuesta HTTP respectivamente.. Herramientas utilizadas: NODEjs y Jest.</p>
                <a href="#" class="btn-portfolio mb-2">Ir a Demo</a>
              </div>
            <!--   <div class="card-footer text-muted">
                Herramientas usadas:
              </div> -->
            </div>
          </div>


<!--
              <div class="row" data-aos="fade-up" data-aos-delay="100">
                  <div class="col-lg-12 d-flex justify-content-center">
                      <ul id="portfolio-flters">
                          <li data-filter="*" class="filter-active">All</li>
                          <li data-filter=".filter-app">App</li>
                          <li data-filter=".filter-card">Card</li>
                          <li data-filter=".filter-web">Web</li>
                      </ul>
                  </div>

              </div>

              <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>App 1</h4>
                              <p>App</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Web 3</h4>
                              <p>Web</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>App 2</h4>
                              <p>App</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Card 2</h4>
                              <p>Card</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Web 2</h4>
                              <p>Web</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>App 3</h4>
                              <p>App</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Card 1</h4>
                              <p>Card</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Card 3</h4>
                              <p>Card</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                      <div class="portfolio-wrap">
                          <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                          <div class="portfolio-info">
                              <h4>Web 3</h4>
                              <p>Web</p>
                              <div class="portfolio-links">
                                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>

              </div> -->

          </div>
      </section>
      <!-- End Portfolio Section -->

  </main>
  <!-- End #main -->
