<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

     <!--  <h1 class="hit-the-floor">Milagros Leon</h1> -->
    <!--  <h1 class="logo">Milagros Leon <a [routerLink]="['Home']"></a></h1>
 -->
 <div class="logoStyle">
 <svg width="350" height="50" viewBox="80 -50 600 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  <path id="path">
     <animate attributeName="d" from="m0,110 h0" to="m0,110 h4700" dur="6.8s" begin="0s" repeatCount="indefinite"/>
   </path>
   <text font-size="150" font-family="Montserrat"  fill='hsl(0, 1%, 40%)'>
     <textPath xlink:href="#path" class="text-dark">Milagros Leon Cueva
     </textPath>
   </text>
 </svg>
</div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="" [routerLink]="['Home']" routerLinkActive="active"
                  >Inicio</a></li>
                <li><a [routerLink]="['About']" routerLinkActive="active"
                  >Sobre mi</a></li>
                <li><a [routerLink]="['Resume']" routerLinkActive="active"
                  >Resumen</a></li>
                <li><a [routerLink]="['Testimonials']" routerLinkActive="active"
                  >Testimonios</a></li>
                <li><a [routerLink]="['Portfolio']" routerLinkActive="active"
                  >Proyectos</a></li>
                <li><a [routerLink]="['Contact']" routerLinkActive="active"
                  >Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <div class="header-social-links">
            <a href="https://drive.google.com/file/d/1ES4Zol9IIl4lrvo1ajjqTJ0HT1aKfsRx/view?usp=sharing" class="twitter" title="curriculum"><i class="bbi bi-file-earmark-person"></i></a>
            <a href="https://github.com/Milagros-Lc" class="twitter" title="GitHub"><i class="bi bi-github"></i></a>
            <a href="https://api.whatsapp.com/send?phone=51967197186" class="twitter" title="Whatsapp"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/milagroslc/" class="twitter" title="Linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>

</header>
