<div class="contentImgTestimonials" data-aos="fade-up">

<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class=" testimonial-item">
            <img src="../../../assets/coach.png" class="testimonial-img" alt="...">
            <h3>Daniel Orio</h3>
            <h4>Full Stack Developer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla
              culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore
              quem
              dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-item">
            <img src="../../../assets/cdp.png" class="testimonial-img" alt="...">

            <h3>Florencia Pizarro</h3>
            <h4>Coordinadora de Desarrollo Personal</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram
              irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam
              esse
              veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-item">
            <img src="../../../assets/fio.png" class="testimonial-img" alt="...">
            <h3>Fiorela Azahuanche Falcon</h3>
            <h4>Fron end Developer &amp; Matemática</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Tuve el agrado de trabajar con Milagros y debo decir que es una profesional
               comprometida con su equipo y con una curiosidad continua para dar lo mejor en el desarrollo de proyectos de calidad. Es una persona
               en busca del aprendizaje constante que posee la habilidad de aprender rápido y siempre esta predispuesta a ayudar. Utiliza su conocimiento
                y pensamiento analítico para crear un procedimiento nuevo y resolver así cualquier problema desconocido.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-item">
            <img src="../../../assets/jairo.jpg"  class="testimonial-img" alt="...">

            <h3>Jairo Vidal Arana</h3>
            <h4>Web Developer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae
              irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster
              fugiat irure
              amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-item">
            <img src="../../../assets/mariana.png" class="testimonial-img" alt="...">
            <h3>Mariana Guanda</h3>
            <h4>Full Stack Developer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae
              irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster
              fugiat irure
              amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-item">
            <img src="../../../assets/gigi.png" class="testimonial-img" alt="...">
            <h3>Gigi</h3>
            <h4>Recruiter</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> Milagros es una gran aprendiz, siempre cumple con las tareas encomendadas y excede las metas establecidas. Ademas posee excelentes habilidades técnicas y blandas. Considero seria una gran adición para cualquier empresa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



  </div>
</section>
</div>
<!-- End Testimonials Section -->
